* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ededed;
}

.gallery {
    width: 80%;
    margin: 0 auto;

}

.gallery__thumbs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px; 
    border: 1px solid #ae41ac;
    margin-bottom: 20px;

}

.gallery__thumbs li {
    list-style: none;
    padding:10px 10px;
    border: 1px solid #ae41ac;   
    box-shadow: #ae41ac47 5px 5px;
    
    
}

.gallery__thumbs li{
    width: 150px;
    height: 150px; 
}

.gallery__thumbs li img{
    width: 100%;

}

.gallery__preview{
    border: 1px solid #ae41ac;
    display: none;
    justify-content: center;
    position: relative;
    background-color: #ddddddc9;
    padding:30px 0px;
    

}


.gallery__preview_close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 10px 12px;
    border-radius: 50%;
    background-color: #7a797a7b;
    border: none;
    color: azure;
    cursor: pointer;
    
}



