* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}

body, html {
   height: 100%;
   

}

.container {
    text-align: center;
    background-color: rgb(223, 230, 227);
    width: 450px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    

}

.wrapper {
    flex: 1 1 auto;
    max-height: calc(100% - 50px);
    overflow-y: auto;
    position: relative;

  
}


.header {
    background-color: #353d49;
    color: #ffffff;
    

}

.header h1 {
    padding:30px 0;

}

.content {
    width: 300px;
    margin: 15px auto;
    background-color: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 0 10px #a6aba9;
    
    
    
    
}

.content p {
    color: rgb(114, 115, 115);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 295px;
}

.input label {
    margin-left: 30px;
}

button {
    color: rgb(133, 133, 133);
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    margin: 8px auto;
    margin-left: 30px;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
    border: 1px;

}

button:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
    color: #000;
}

button:active {
    background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}

.btnEdit {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;

    
}

.list_item {
    box-shadow: 0 0 10px #a6aba9;
    background-color: #f2f2f2;
    border-radius: 10px;
    
}

.output {
    margin: 10px auto;
    width: 90%;
    
    
    
    
}

.wrapper::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(223, 230, 227);

}

.wrapper::-webkit-scrollbar-thumb {
    background-color: #929394;

}

.output ul {
    list-style: none;


}

.list_item {
    margin: 10px;
}

.name_item::before {
    content: "Имя: ";
    font-weight: 500;

}

.phone_item::before {
    content: "Телефон: ";
    font-weight: 500;
}

.email_item::before {
    content: "Email: ";
    font-weight: 500;
}

.address_item::before {
    content: "Адрес: ";
    font-weight: 500;
}

.footer {
    padding: 25px;
    background-color: #353d49;
    border-radius: 10px 10px 0 0;
    
    

}